@keyframes bganimation{
  0%{
      background-position: 0% 50%;
  }
  50%{
      background-position: 100% 50%;
  }
  100%{
      background-position: 0% 50%;
  }
}
body {
  /* background-image: url("../img-common/background-01.jpg"); */
  /* background-size: 1545px 800px; */
  /* background: linear-gradient(-135deg,rgb(184, 214, 253), rgb(255, 255, 255)); */
  /* background: #fff; */
  /* height: 100vh; */
  width: 100%;
  /* overflow: hidden; */
  background-image: linear-gradient(125deg,rgb(62, 133, 246),rgb(97, 157, 248), rgb(139, 185, 251) rgb(185, 211, 253), rgb(230, 241, 255));
  /* background-image: linear-gradient(125deg,#F44336,#E91E63,#9C27B0,#3F51B5,#2196F3); */
  background-size: 400%;
  font-family: "montserrat";
  animation: bganimation 15s infinite;
}

/* .container .container--outer {
  border-radius: 5px;
} */

/************* START 头像区域-背景图 ****************/

/* 设置标题横幅的背景图像 —— 覆盖原来的白色背景 */
.logo--mixed {
  background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.5)), url("../img-common/banner.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: 30% 25%;
  position: relative;
}

/* 设置相对位置 —— 以便"添加的覆盖"不覆盖主要内容 */
.logo--mixed .logo__link {
  position: relative;
}

/************* END 头像区域-背景图  ****************/


/* 根据 highlight.js 插件设置的高亮主题对应的代码块背景颜色，设置background */
/* pre {
  padding: 0;
} */